.all-container { //linked to grid.scss
    width: 81.75vw;
}

@media screen and (max-width: 900px) {
    .all-container {
        width: 90vw;
    }
}

@media screen and (max-width: 550px) {
    .all-container {
        width: 97vw;
    }
}