@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

.button-container {
    width: auto;
    height: auto;
    display: inline-block;

    .select {
        margin: 5px 0 0px 25px;
        padding: 0 10px 0 0;
        text-transform: none;
        text-decoration: none;
        font-family: "Sunflower", "sans-serif";
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        outline: none;
    }

    .select-category,
    .select-sortby {
        border: none;
    }
}