@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);

#nav-container {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    height: 65px;
    z-index: 1000;

    #logo-left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25vw;
    
        a {
            margin: 0;
            padding: 0 10px 0 10px;
            border-left: 2px solid $page-white;
            border-right: 2px solid $page-white;
            color: $page-white;
            font-size: 1.5rem;
            cursor: pointer;
            transition-duration: 0.25s;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .navlink-container {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        a {
            margin: 5px 0 0 0;
            padding: 5px 20px;
            position: relative;
            font-size: 1.1rem;
            font-family: 'Sunflower', sans-serif;
            font-weight: 500;
            color: $page-white;
            text-decoration: none;
            cursor: pointer;
            z-index: 0;
        }
        a:before, a:after {
            position: absolute;
            opacity: 0;
            font-size: 20px;
            bottom: 5px;
            transition: all 0.3s;
        }
        a:before{
            content: '(';
            left: 0px;
            transform: translateX(10px);
        }
        a:after {
            content: ')';
            right: 0px;
            transform: translateX(-10px);
        }
        .is-active:before {
            content: '(';
            opacity: 1;
            transform: translateX(0px);
        }
        .is-active:after {
            content: ')';
            opacity: 1;
            transform: translateX(0px);
        }
        a:hover:before {
            opacity: 1;
            transform: translateX(0px);
        }
        a:hover:after{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .profile-container {
        width: 25vw;
        height: 100%;
        place-items: center;

        .login-button {
            margin: 0;
            padding: 0;
            padding: 8px 30px 5px 30px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: $page-white;  
            color: $page-black;
            font-size: 1.15rem;
            cursor: pointer;
            transition-duration: 0.25s;
            text-decoration: none;
        }
        .login-button:hover, .login-button:focus {
            background: transparent;
            color: $page-white;
            border: 1px solid $page-white;
        }

        .is-active {
            color: $page-white;
            background: transparent;
            border: 1px solid $page-white;
        }
    }

    .bm-burger-button {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    #nav-container {
        height: 60px;
        #logo-left {
            width: 50vw;
            justify-content: flex-start;
            .logo {
                margin-left: 5vw;
                font-size: 1.15rem;
            }
        }

        .navlink-container {
            display: none;
        }

        .bm-burger-button {
            display: block;
            position: fixed;
            width: 36px;
            height: 25px;
            right: 5vw;
            top: 17.5px;
        }
        .bm-burger-bars {
          background: white;
          transition-duration: 0.25s;
        }
        .bm-burger-bars-hover {
          background: pink;
        }
        .bm-cross {
            background: white;
        }
        .bm-menu-wrap {
          position: fixed;
          height: 100%;
        }
        
        /* General sidebar styles */
        .bm-menu {
          background: black;
          padding: 2.5em 1.5em 0;
          font-size: 1.5em;
        }
        .bm-item-list {
          padding: 1em;
        } 
        .hamburger-menu-link {
          margin-bottom: 25px;
          font-size: 1.25rem;
          font-family: "Sunflower", "sans-serif";
          letter-spacing: 1px;
          color: white;
          text-decoration: none;
        }
    }
}