.allgifts-container {
    margin-top: 75px;
    width: 80vw;

    .giftcomponent-grid {
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 900px) {
    .allgifts-container {
        width: 85vw;

        .giftcomponent-grid {
            grid-template-columns: auto auto;
        }
    }
}

@media screen and (max-width: 415px) {
    .allgifts-container {
        width: 100vw;

        .giftcomponent-grid {
            grid-template-columns: auto;
        }
    }
}