.dot-active, .dot-inactive {
    width: 40px;
    height: 5px;
    border-radius: 30px;
    background-color: #cecece;
    margin: 0 5px;
    cursor: pointer;
}

.dot-active {
    background-color:black;
}