$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);

.App {
  height: auto;
  overflow: hidden;

  .navigation-margin {
    height: 65px;
  }

  .Content {
    width: 100vw;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
  }
}
