$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  right: 20px;
  top: 20px;
  display: none;
}

.App {
  height: auto;
  overflow: hidden;

  .navigation-margin {
    height: 65px;
  }

  .Content {
    width: 100vw;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 900px) {
  .bm-burger-button {
    display: block;
  }
  .bm-burger-bars {
    z-index: 11;
    background: white;
    cursor: pointer;
  }
  .bm-menu {
    background: black;
    padding: 6em 3em 0;
  }
  
  .bm-item {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 25px;
    color: white;
  }
}
