$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);

.App {
  height: auto;
  // background: #12c2e9; 
  // background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  // background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  // background: #d9a7c7;
  // background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);
  // background: linear-gradient(to top, #fffcdc, #d9a7c7);
  background-color: $page-white;
  overflow: hidden;

  .Content {
    width: 100vw;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
