@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

#infocarousel-container {
    margin-top: 50px;

    #ic-description-container {
        width: 80vw;
        left: 0;
        right: 0;
        margin: 0 auto;

        h1 {
            margin: 0;
            padding: 0;
            margin-left: 1vw;
            margin-top: 50px;
            margin-bottom: 25px;
            font-family: 'Orbitron', 'sans-serif';
        }
    }

    .info-carousel {
        margin-bottom: 50px;
        width: 80vw;
        height: 40vw;
        border-radius: 30px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        img {
            height: 100vh;
            width: auto;
        }
    }
}
@media screen and (max-width: 910px) {
    #infocarousel-container {

        #ic-description-container {
            width: 90vw;
            
            h1 {
                font-size: 1.5rem;
            }
        }

        .info-carousel {
            width: 90vw;
            height: 150vw;
    
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}

.swiper-button-prev {
    color: white; 
    left: 0;
    padding-left: 25px;
}

.swiper-button-next {
    color: white;
    right: 0;
    padding-right: 25px;
}