@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#infocarousel-container {
    margin-top: 100px;

    #ic-description-container {
        width: 80vw;
        left: 0;
        right: 0;
        margin: 0 auto;

        h1 {
            margin: 0;
            padding: 0;
            margin-left: 1vw;
            margin-top: 50px;
            margin-bottom: 25px;
            font-family: 'Orbitron', 'sans-serif';
        }
    }

    .info-carousel {
        margin-bottom: 25px;
        width: 80vw;
        height: 40vw;
        border-radius: 30px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        img {
            height: 100vh;
            width: auto;
        }
    }

    .description {
        display: none;
    }
}

.swiper-button-prev {
    color: white; 
    left: 0;
    padding-left: 25px;
}

.swiper-button-next {
    color: white;
    right: 0;
    padding-right: 25px;
}

@media screen and (max-width: 910px) {
    #infocarousel-container {

        #ic-description-container {
            width: 90vw;
            
            h1 {
                font-size: 1.5rem;
            }
        }

        .info-carousel {
            width: 90vw;
            height: 60vw;
    
            img {
                width: auto;
                height: 100%;
            }
        }

        .description {
            display: block;
            width: 80vw;
            left: 0;
            right: 0;
            margin: 0 auto;

            h1 {
                font-family: "Montserrat", 'sans-serif';
                font-size: 1.75rem;
                font-weight: 700;
            }
            p {
                font-family: "Montserrat", 'sans-serif';
                font-size: 0.85rem;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
                font-weight: 300;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        display:none;
    }
}