#landing-page {
    width: 100vw;
    .particle-background {
        // display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }
}

@media screen and (max-width: 910px) {
    .particle-background {
        height: 100vh;
    }
}