#landing-page {

    .particle-background {
        position: absolute;
        margin-top: -10px;
        width: 100vw;
        height: 150vh;
    }
}

@media screen and (max-width: 910px) {
    .particle-background {
        height: 100vh;
    }
}