#landing-page {
    width: 100vw;
    .particle-background {
        position: absolute;
        width: 100vw;
        height: 125vh;
    }
}

@media screen and (max-width: 910px) {
    .particle-background {
        height: 100vh;
    }
}