#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #logo-left {
        height: 160px;
        display: flex;
        /* justify-content: center; */
        align-items: flex-end;
        width: 20vw;
        margin-left: 75px;
    
        a {
            margin: 0;
            padding: 0;
            text-transform: none;
            text-decoration: none;
    
            img {
                margin: 0;
                padding: 0;
                width: 50px;
                height: auto;
                padding: 10px;
                border: 2px solid white;
                border-radius: 50%;
                margin-bottom: 10px;
            }
        }
    
        h2 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            font-weight: 400;
    
            span{
                color: red;
            }
        }
    }

    #rightside-container {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .profile-container {
            display: flex;
            flex-direction: row;

            h4 {
                margin: 0;
                padding: 0;
                margin-right: 25px;
                margin-top: 3px;
                letter-spacing: 2px;
                color: white;
            }

            .profile-bar{
                margin: 0;
                padding: 0;
                width: 350px;
                height: 25px;
                margin-bottom: 25px;
                margin-right: 75px;
                border-radius: 15px;
                background: rgb(111,173,227);
                background: linear-gradient(90deg, rgba(111,173,227,0.5006185711967228) 0%, rgba(111,173,227,1) 70%, rgba(255,255,255,1) 70%);    
            }
        }

        .navlink-container {
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            margin-right: 75px;
            width: 80vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            a {
                position: relative;
                font-size: 1rem;
                font-weight: 500;
                color: white;
                text-decoration: none;
                cursor: pointer;
                z-index: 0;
                padding: 5px 15px;
                border: 1.5px solid white;
                border-radius: 30px;
                margin-left: 52.5px;
            }

            a:before, a:after {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 40px;
                height: 40px;
                border: 4px solid #FFF9E3;
                transform: translateX(-50%) translateY(-50%) scale(0.8);
                border-radius: 50%;
                background: transparent;
                content: "";
                opacity: 0;
                transition: all 0.3s;
                z-index: -1;
            }

            a:after {
                border-width: 2px;
                transition: all 0.4s;
            }

            a:hover:before {
                opacity: 0.7;
                transform: translateX(-50%) translateY(-50%) scale(1);
            }

            a:hover:after {
                opacity: 0.7;
                transform: translateX(-50%) translateY(-50%) scale(1.3);
            }
        }
    }
}

@media screen and (max-width: 910px) {
    #nav-container,
    #logo-left,
    .navlink-container {
        height: 100px;
    }
}