$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);
$page-black: rgb(51, 51, 51);
$page-white: rgb(248, 248, 248);

.myprofile-container {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-gap: 0.2rem;

  > * {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1rem;
    background: #e8e6ee;
    border-radius: 4px;
    font-weight: bold;
  }
}

.header {
  grid-area: header;
  text-indent: 12.7rem;
  font-size: 20;
}

.main {
  grid-column: main;
  height: 500px;
}

.aside {
  grid-row: sidebar;
}

.footer {
  grid-column: footer;
  height: 100px;
}

.aside,
.main {
  min-height: 400px;
}

// * {
//   box-sizing: border-box;
// }
